@model IEnumerable<AppDev.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>Account Managements</h1>

<p>
    <a asp-action="StoreOwner">Store Owner Accounts</a>
</p>
<p>
    <a asp-action="Customer">Customer Accounts</a>
</p>
<p>
    <a asp-action="ResetPassword">Reset Password</a>
</p>