@model OrderIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Order Customers</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Order
            </th>
            <th>
                Customer
            </th>
            <th>
                Email
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Orders)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.Email)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                </td>
            </tr>
        }
    </tbody>
</table>

@section Search{
    <partial name="_SearchPartial" model="Model.SearchViewModel" />
}